<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2 style="text-align: center">Update song</h2>
<form action="/song/update" class="form-group" method="post" th:object="${songDTO}">
  <div>
    <input type="hidden" class="form-control" th:field="*{id}" id="id">
  </div>
  <div>
    <label>Name Song</label>
    <input type="text" class="form-control" th:field="*{name}" id="name">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
  </div>
  <div>
    <label for="singer">Singer</label>
    <input type="text" class="form-control" th:field="*{singer}" id="singer">
    <p th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}">Singer Error</p>
  </div>
  <div>
    <label for="category">Category song</label>
    <input type="text" class="form-control" th:field="*{category}" id="category">
    <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</p>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
</body>
</html>